:root {
    --fade-in: opacity 0.3s ease-in;
    --writing-font: 'Shadows Into Light Two', cursive;
    --soft-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --hard-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    /* colors */
    --danger: rgb(240, 22, 22);
    --success: rgb(30, 173, 30);
    --main-color: rgb(43, 160, 206);
    --input-bg: rgb(228, 228, 228);
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-image: url('/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    outline: 0;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
    margin-top: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-size: 1rem;
    border-radius: 999em;
    color: white;
    transition: filter 0.3s linear;
}

button:hover {
    -webkit-filter: brightness(92%);
    filter: brightness(92%);
}

input[type="text"], input[type="search"], input[type="number"], select {
    padding: 0.5rem;
    font-size: 1rem;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background-color: var(--input-bg);
}

input[type="text"], input[type="search"], select {
    box-shadow: var(--soft-shadow);
    border: 1px solid lightgrey
}